<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xik.aibookkeeping.server.mapper.BillStatisticsMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.xik.aibookkeeping.pojo.entity.BillStatistics">
        <id column="id" property="id" />
        <result column="user_id" property="userId" />
        <result column="stat_type" property="statType" />
        <result column="stat_date" property="statDate" />
        <result column="revenue" property="revenue" />
        <result column="expenditures" property="expenditures" />
        <result column="update_time" property="updateTime" />
        <result column="create_time" property="createTime" />
    </resultMap>

</mapper>
