<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xik.aibookkeeping.server.mapper.ChatSessionMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.xik.aibookkeeping.pojo.entity.ChatSession">
        <id column="id" property="id" />
        <result column="session_id" property="sessionId" />
        <result column="user_id" property="userId" />
        <result column="title" property="title" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="agent_id" property="agentId" />
    </resultMap>

</mapper>
